body {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.openn-source {
  max-width: 600px;
  margin: 0 auto;
}
.weather-app {
  max-width: 600px;
  border: solid 5px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(221, 230, 227);
}
#description {
  text-transform: capitalize;
}
.weather-temperature img {
  margin: 0px;
  padding: 0;
}
strong {
  margin: 0;
}
h1 {
  color: rgb(29, 15, 15);
  font-size: 30px;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
  padding-left: 0;
  margin: 0;
  font-size: 20px;
  color: rgb(83, 83, 83);
}
a {
    text-decoration: none;
}

.weather-app strong {
  font-size: 55px;
  padding: 20px 0px 20px 20px;
}
#temp {
  padding-left: 0;
}
.units {
  position: relative;
  font-size: 15px;
  padding-left: 0;
  bottom: -40px;
}
